/* * {border:1px solid red} */

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-image: url(../images/annie-spratt-hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

body {
    padding: 0;
    margin: 0;
    height: 1500ps;
    }

/*Navigation Styles*/
nav {
    display: flex;
    position:fixed;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
    top: 0;
    background-color: rgba(241,214,219,0.25);
    backdrop-filter: blur(8px);
    width: 100%;
    align-items: center;
    z-index: 100;
}
    .logo {
        float: left;
        margin: 0 20px;
    }
    .contact {
        width: 1fr;
        float:right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;
    }
    #open-icon {
        cursor: pointer;
    }
#overlay-top {
    display: flex;
    position:fixed;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
    top: 0;
    background-color: rgba(241,214,219,);
    width: 100%;
    align-items: center;
    z-index: 105;
}
    #empty-icon {
        width: 50px;
        height: 50px;
    }
#menu {
    position: fixed;
    z-index: 100;
    top: -100vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 214, 219);
    backdrop-filter: blur(8px);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    #menu a {
        text-decoration: none;
        color: #0A1E63;
    }
    #menu li {
        display: block;
        width: 100%;
        text-align: center;
    }
    #home-link:hover {
        background-image: url(../images/brush-1.svg);
        background: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #about-link:hover {
        background-image: url(../images/brush-2.svg);
        background: cover;
        background-repeat: no-repeat;
        background-position: center;
    }   
    #case-studies-link:hover {
    background-image: url(../images/brush-3.svg);
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    }   
    #illustrations-link:hover {
    background-image: url(../images/brush-5.svg);
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    #close-icon {
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 20px;
        background: rgb(241, 214, 219);
        z-index: 110;
    }
/*Hero Styles*/
    .hero {
        float:top;
        height: 800px;
        overflow: hidden;
        z-index: 1;
        margin: 20px 20px 80px 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
    }

        .statement-section {
            grid-column: 2 / -1;
            grid-row: 3 / 7;
        }
            #languages {
                display:flex;
                align-items: top;
                overflow: visible;
                /* margin-left: 80px; */
                }
                .english {
                    background-image: url(../icons/emojione_flag-for-united-kingdom.svg);
                    background-repeat: no-repeat;
                    min-width: 99px;
                    min-height: 99px;
                    overflow: visible;
                    border: 2px solid black;
                    border-radius: 50px;
                    margin-right: 10px;
                }
                .russian {
                    background-image: url(../icons/emojione_flag-for-russia-disabled.svg);
                    background-repeat: no-repeat;
                    min-width: 99px;
                    min-height: 99px;
                    margin: 0 10px;
                    cursor: pointer;
                }
                .russian:hover {
                    background-image: url(../icons/emojione_flag-for-russia.svg);
                    background-repeat: no-repeat;
                }
                .vietnam {
                    background-image: url(../icons/emojione_flag-for-vietnam-disabled.svg);
                    background-repeat: no-repeat;
                    min-width: 99px;
                    min-height: 99px;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .vietnam:hover {
                    background-image: url(../icons/emojione_flag-for-vietnam.svg);
                    background-repeat: no-repeat;
                }
            .down-hotspot {
                grid-row: -1;
                grid-column: 1 / -1;
                height: 100px;
                margin: 80px auto 0 auto;
                align-self: center;
            }

            .down {
                float: top;
                margin: 0 auto;
                align-self: center;
            }

/* Card Styles */
.wide-card-column {
    padding: 0;
}
.wide-card {
backdrop-filter: blur(20px);
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr, 1fr;
gap: 20px;
padding: 40px 20px;
}
    .wide-card-content {
        grid-column: 7 / span 4;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .card-thumbnail {
        grid-column: 2 / span 6;
        grid-row: 1 / -1;
        overflow: hidden;
        position: relative;
    }
    .card-heading, .card-description {
        padding-bottom: 40px;
    }
    .card-heading span {
        font-style: italic;
    }
    .card-date {
        padding-bottom: 20px;
        color: #0A1E63;
    }
#case-study1, #case-study3 {
    background-color: rgba(241, 214, 219, 0.25);
}
#case-study2 {
    background: rgba(255, 255, 255, 0.25);
}

/* Footer Styles */
footer {
    margin-top: 80px;
    padding: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(241, 214, 219, 0.25);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 40px 20px;
}
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 4 / span 6;
    }
        /* .footer-header {
            grid-column: 4 / span 6;
            grid-row: 1;
        }
        .contact {
            grid-column: 5 / span 4;
        }
        .footer-content p {
            align-self: center;
        } */

/* ----------------------- */
/* Icon Styles */
.contact-email, .contact-linkedin, .contact-dribbble, .contact-instagram {
    cursor: pointer;
    background-repeat: no-repeat;
    display: inline;
    margin: 0 20px;
}
.contact-email:hover {
    background-image: url(../icons/et_email-hover.svg);
}
.contact-linkedin:hover {
    background-image: url(../icons/et_linkedin-hover.svg);
}
.contact-dribbble:hover {
    background-image: url(../icons/et_dribbble-hover.svg);
}
.contact-instagram:hover {
    background-image: url(../icons/et-openmoji_instagram-hover.svg);
}

/*Button Styles*/
button {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(241,214,219,0.25);
    backdrop-filter: blur(8px);
}

button:hover {
    background-color: rgb(241,214,219);
}

button:active:hover {
    background-color: #0A1E63;
    color: #ffffff;
}

/* Typography */
p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

.italic span {
    font-style: italic;
}

.bold span {
    font-weight: bold;
}

button, a {
  font-size: 24px;
  font-style: none;
  color: #0A1E63;
  font-weight: 600; /*semi-bold*/
  cursor: pointer;
}
