/* * {border:1px solid red} */

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-image: url(../images/annie-spratt-hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    padding: 0;
    margin: 0;

}

/*Navigation Styles*/
nav {
    display: flex;
    position:fixed;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    top: 0;
    background-color: rgba(241,214,219,0.25);
    backdrop-filter: blur (8px);
    width:100%;
    align-items: center;
}
    .logo {
        width: 1;
    }
    .nav-space {
        width: 1;
    }
    .contact {
        width: 2;
        float:right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;
    }
            .contact-method {
            display: inline;
            margin: 0 20px;
            }

/*Hero Styles*/
section {
    margin-bottom: 80px;
}
    .hero {
        float:top;
        height: 900px;
        width: 100%;
        overflow: hidden;
    }
        .statement-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            margin: 0 80px;
            top: 200px;
        }
            .greeting {
                margin-bottom: 20px;   
            }
            #statement {
                font-size: 24px;
                margin: 0 0 10px 0;
            }
            #end-statement {
                margin-bottom: 40px;
            }
            .languages {
                display:flex;
                align-items: top;
                }
/* ----------------------- */
/* Typography */
p {
    font-family: 'Nunito', sans-serif;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 24px;
}

.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}

a {
  font-style: none;
  color: #0A1E63;
  font-weight: bold;
}