*:before, *:after {
    border: 1px solid red;
    }
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0
}
/*Navigation Styles*/
nav {
    display:block;
    position:fixed;
    float: top;
}

